## Boolean

Boolean

In [1]:
True - True

0

In [3]:
True + True

2

In [4]:
True / False

ZeroDivisionError: division by zero

Numbers

In [6]:
print(float(2))
print(int(2.0))
print(int(2.5)) # truncate
print(1.134458973459783149857139847534985349578394857) #1.1344589734597832, precision at 16th decimal place

2.0
2
2
1.1344589734597832

In [7]:
print(11 / 2)
print(11 // 2) # truncate to integer, if positive
print(11 // 2) # truncated integer becomes float, with ".0"
print(-11 // 2) # if negative, round down

5.5
5
5
-6

In [8]:
11 ** 2

121

In [10]:
11 % 2

1

Some fractions (from fractions class)

In [12]:
import fractions
x = fractions.Fraction(1, 3)
x

Fraction(1, 3)

In [13]:
y = fractions.Fraction(2, 3)
y

Fraction(2, 3)

In [15]:
x + y

Fraction(1, 1)

In [16]:
x * 2

Fraction(2, 3)

In [17]:
x / y

Fraction(1, 2)

Simple Math Operations

In [18]:
import math
math.pi

3.141592653589793

In [20]:
math.sin(math.pi / 2)

1.0

In [22]:
math.tan(math.pi / 4) # math says it is 1, error due to machine precision

0.9999999999999999

Numbers in a Boolean Context

In [29]:
def foo(x):
    if x:
        print('True')
    else:
        print('False')
        
foo(3)
foo(-10)
foo(0.000001)
foo(0)
foo(fractions.Fraction(0, 3))

Finally some Lists

In [68]:
bar = ['a', 'b', 'JS', 'hello', 'world']
bar

['a', 'b', 'JS', 'hello', 'world']

In [69]:
print(bar[0])
print(bar[-1])
print(bar[-3])

a
world
JS

In [34]:
bar[0:3]

['a', 'b', 'JS']

In [35]:
bar[3:]

['hello', 'world']

So note that list[0:n] and list[n:] give the whole list

In [37]:
bar[1:-1]

['b', 'JS', 'hello']

In [39]:
bar[:] # a copy of 'bar'

['a', 'b', 'JS', 'hello', 'world']

Some operations on List

In [46]:
bar = bar + [2.0, 3] # list concatenation
bar

['a', 'b', 'JS', 'hello', 'world', 2.0, 3]

In [48]:
bar.append(True)
bar

['a', 'b', 'JS', 'hello', 'world', 2.0, 3, True, True]

In [49]:
bar.extend([1, 2.0]) #list.extend() takes a list as an argument
bar

['a', 'b', 'JS', 'hello', 'world', 2.0, 3, True, True, 1, 2.0]

In [50]:
bar.insert(0, 123443645)
bar

[123443645, 'a', 'b', 'JS', 'hello', 'world', 2.0, 3, True, True, 1, 2.0]

In [66]:
bar

[123443645, 'a', 'b', 'JS', 'hello', 'world', 2.0, 3, True, True, 1, 2.0]

In [76]:
z = ['a', 'b', 'c', 'a']
z.count('a')

2

In [77]:
'b' in z # faster than .count()

True

In [79]:
z.index('a') # finds the index of the first occurence of the input

0

In [80]:
z.index('d')

ValueError: 'd' is not in list

In [90]:
c = [1, 2, 3, 'a', 'b', 'c']
c

[1, 2, 3, 'a', 'b', 'c']

In [91]:
del c[0] # delete the first element of the list
c

[2, 3, 'a', 'b', 'c']

In [92]:
c.remove('c') # remove by value
c

[2, 3, 'a', 'b']

In [93]:
c.remove('c') # throws an error, not in the list

ValueError: list.remove(x): x not in list

In [101]:
d = [1, 2, 3]

In [102]:
d.pop() # removes the last element & show the last element removed

3

In [105]:
d.pop()
d.pop()
d.pop() # throws an error: IndexError - pop from empty list

IndexError: pop from empty list

In [106]:
e = [1, 2, 3]
e.pop(0) # removes the first item

1

In [108]:
# Lists in Boolean Context
def foo(list):
    if list:
        print(True)
    else:
        print(False)
        
foo([])
foo([1])
foo([1, 2, 3, 'a', 'b', 'c'])
foo([False])

False
True
True
True

Difference between list.extend() and list.append()

In [59]:
a = ['a', 'b', 'c']
b = a[:]

In [60]:
a.append([1, 2, 3]) # appends the list element to a list
a

['a', 'b', 'c', [1, 2, 3]]

In [64]:
b.extend([1, 2, 3]) # extend adds each item to the list

In [65]:
b

['a', 'b', 'c', 1, 2, 3, 1, 2, 3]

Tuples: Similar to lists, except immutable

In [110]:
x = (1, 2, 3)
type(x)

tuple

In [111]:
type(1)

int

In [113]:
type((1, )) # (a, ) to declare 1-element tuple

tuple

In [114]:
x.remove(1)

AttributeError: 'tuple' object has no attribute 'remove'

In [115]:
x.extend((1, 2))

AttributeError: 'tuple' object has no attribute 'extend'

In [116]:
x.append((1, 2))

AttributeError: 'tuple' object has no attribute 'append'

In [119]:
list(x) # convert to list
tuple(list(x)) # convert to tuple again

(1, 2, 3)

In [120]:
# tuple in boolean context, same thing: false for empty tuple
def foo(tuple):
    if tuple:
        print(True)
    else:
        print(False)
        
foo((1,))
foo(())

True
False

Assigning multiple values at once (based on a tuple)

In [122]:
v = ('a', 2, True)
v

('a', 2, True)

In [124]:
(x, y, z) = v
print(x)
print(y)
print(z)

a
2
True

In [129]:
(a, b, c, d, e, f, g) = range(7) # range(7) is an iterator technically
print(a)
print(g)

0
6

Set: Unordered bag of unique values that contains any immutable type

In [133]:
a_set = {1, 2}
print(type(a_set))
print(a_set)

<class 'set'>
{1, 2}

In [135]:
a_list = [1, 2, 3, 'a', 'b', 5.0, True, False]
a_list

[1, 2, 3, 'a', 'b', 5.0, True, False]

In [139]:
a_set = set(a_list) # converts list to a set
print(a_set) # order differs from the list, note that the order is disregarded in a set

{'a', 1, 2, 3, False, 5.0, 'b'}

In [140]:
b_list = {[1, 2, 3], 1, 2, 3} # a set cannot contain mutable datatype
b

TypeError: unhashable type: 'list'

In [143]:
# Creating empty set
a_set = set()
print(type(a_set))
print(len(a_set))

<class 'set'>
0

In [144]:
b_set = {} # this actually creates an empty dictioanry, rather than a set
type(b_set)

dict

Some operations on the Set

In [145]:
a_set = {1, 2}
a_set

{1, 2}

In [146]:
a_set.add('foo')

0

In [148]:
a_set
len(a_set)

3

In [149]:
a_set.update({2, 3, 'foo', 'bar'})

In [150]:
a_set

{1, 2, 3, 'bar', 'foo'}

In [153]:
a_set.update({True, False}, {7, 900, 'hello'})
a_set

{1, 2, 3, 7, 900, False, 'bar', 'foo', 'hello'}

In [155]:
# can also update with a list (update with an iterable in general)
a_set.update(['hehe', 'hihi'])
a_set

{1, 2, 3, 7, 900, False, 'bar', 'foo', 'hehe', 'hello', 'hihi'}

In [156]:
a_set.remove('bar') # use .remove or .discard to remove elements

In [158]:
a_set

{1, 2, 3, 7, 900, False, 'foo', 'hehe', 'hello', 'hihi'}

In [159]:
a_set.discard('foo')
a_set

{1, 2, 3, 7, 900, False, 'hehe', 'hello', 'hihi'}

In [161]:
a_set.remove('foo') # remove throws a Keyerror if the value not found

KeyError: 'foo'

In [163]:
a_set.discard('foo') # discard is silent on the error, if value not found

In [169]:
# set.pop() method removes elements randomly
a_set.pop()

'hihi'

In [175]:
a_set.clear() # removes all elements in the set, returns an empty set
a_set
a_set.pop() # throws KeyError: pop from an empty set

KeyError: 'pop from an empty set'

In [177]:
a_set = {2, 4, 5, 9, 12, 21, 30, 51, 76, 127, 195}

In [178]:
30 in a_set

True

In [179]:
31 in a_set

False

In [180]:
b_set = {1, 2, 3, 5, 6, 8, 9, 12, 15, 17, 18, 21}

In [182]:
a_set.union(b_set)

{1, 2, 3, 4, 5, 6, 8, 9, 12, 15, 17, 18, 21, 30, 51, 76, 127, 195}

In [183]:
a_set.difference(b_set)

{4, 30, 51, 76, 127, 195}

In [184]:
a_set.intersection(b_set)

{2, 5, 9, 12, 21}

In [185]:
a_set.symmetric_difference(b_set)

{1, 3, 4, 6, 8, 15, 17, 18, 30, 51, 76, 127, 195}

In [186]:
a_set = {1, 2, 3}
b_set = {1, 2, 3, 4}

In [187]:
a_set.issubset(b_set)

True

In [188]:
b_set.issuperset(a_set)

True

In [189]:
a_set.add(5)

In [192]:
a_set.issubset(b_set)

False

In [193]:
def foo(set):
    if set:
        print(True)
    else:
        print(False)

foo(set())
foo({False})
foo({'a'})

False
True
True